.section-divider {
    font-size: 15px;
    /* font-family: "SimHei"; */
    font-weight: bold;
    color:grey;
    margin:15px 15px 15px 0px;
}


.sidebar {
    float:right;
    margin:5%;
}

.sidebar:focus {
    cursor:pointer;
}


.ant-dropdown-menu {
    max-height: 250px;
    overflow: auto;
}